<section>
    <div class="subscribe p-5">
        <div class="container text-center">
            <h5 class="mb-4 h2">Get Your Latest Update !</h5>
            <p class="text-[13px] mb-3">Subscribe to our latest newsletter to get news about special discounts.</p>
            <div class="md:flex gap-2">
                <input type="email" placeholder="Email"
                    class="form-control !rounded-[50px] !h-[45px] border px-4 focus:!shadow-none my-2" />
                <button
                    class="btn !bg-[#829186] text-white !rounded-[50px] border-0 !text-sm  h-[45px] my-2">Subscribe</button>
            </div>
        </div>

    </div>
    <div class="container ">
        <div class="grid md:grid-cols-3 gap-5 border-b-1 border-b-solid border-b-[#eee] pb-5 mb-5 py-5">
            <div>
                <h5 class="mb-4">
                    Our Information
                </h5>
                <div class="text-[13px] mb-3">
                    <i class="fas fa-map-marker-alt me-2"></i>
                    60 29th Street San Francisco, 94110 507-Union Trade Center, United
                    States America
                </div>

                <div class="text-[13px] mb-3">
                    <i class="fas fa-mobile-alt me-2"></i>
                    (+91) 0123-456-789
                </div>
                <div class="text-[13px] mb-3">
                    <i class="fas fa-mobile-alt me-2"></i>
                    (+00) 123-456-7890
                </div>
                <div class="text-[13px] mb-3">
                    <i class="fas fa-envelope me-2"></i>
                    demo@example.com
                </div>

            </div>
            <div>
                <h5 class="mb-4">
                    Quick Links
                </h5>

                <a routerLink="/home" routerLinkActive="active" class="nav-link mb-3 !text-[13px]">
                    Home
                </a>
                <a routerLink="/shop" routerLinkActive="active" class="nav-link mb-3 !text-[13px]">
                    Shop
                </a>
            </div>
        </div>
        <div class="text-center">
            <p class="text-[13px] text-[#666]">
                © 2026 Craft
            </p>
        </div>
    </div>
</section>