<div class="container py-5">
    <div class="grid grid-cols-3 gap-4 border-b-1 border-b-solid border-b-[#eee] pb-5 mb-5">
        <div>
            <h5>
                Our Information

            </h5>
            <div>
                <i class="fas fa-map-marker-alt me-3"></i>
                60 29th Street San Francisco, 94110 507-Union Trade Center, United
                States America
            </div>

            <div>
                <i class="fas fa-mobile-alt me-3"></i>
                (+91) 0123-456-789
            </div>
            <br>
            (+00) 123-456-7890
            <br>
            demo@example.com


        </div>
        <div>
            <h5>
                Our Information

            </h5>
            60 29th Street San Francisco, 94110 507-Union Trade Center, United States America
            <br>
            (+91) 0123-456-789
            <br>
            (+00) 123-456-7890
            <br>
            demo@example.com


        </div>
    </div>

</div>