.active {
    color: #829186 !important;
    font-weight: 700;
}

.subscribe {
    background-image: url(/images/footer-bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}